* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(120deg, #ebcf74, #f79c83);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form button {
  padding: 0.95rem 1rem 0.9rem 1rem;
  font-size: 2.5rem;
  border: none;
  background: white;
  color: coral;
  cursor: pointer;
  transition: all 0.3s ease;
}

form input {
  width: 40rem;
  font-size: 2rem;
  padding: 1.2rem 1rem;
  background: white;
  border: none;
}

form button:hover {
  background: coral;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  min-width: 30%;
}

.todo-div {
  margin: 1rem;
  display: flex;
  background: white;
  color: black;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  transition: all 0.5s ease;
}

.todo-div li {
  flex: 1;
}

.checked-button,
.delete-button {
  background-color: coral;
  color: white;
  border: none;
  padding: 1.5rem;
  cursor: pointer;
}

.checked-button {
  background-color: rgb(35, 197, 70);
}

.todo-item {
  padding: 0.5rem 1rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

.select {
  position: relative;
}

.filter-todo {
  margin-left: 1.5rem;
  padding: 1.3rem 0.5rem 1.1rem 0.5rem;
  width: 20rem;
  font-size: 1.8rem;
  color: #d8914f;
  cursor: pointer;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: coral;
  font-size: 1.7rem;
  padding: 1.7rem 1.7rem 0.6rem 1.7rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background-color: white;
  color: coral;
}
